.backcard {
    background-image: url("images/backcard.gif");
}
.dama1 {
    background-image: url("images/dama1.gif");
}
.dama2 {
    background-image: url("images/dama2.gif");
}
.dama3 {
    background-image: url("images/dama3.gif");
}
.dama4 {
    background-image: url("images/dama4.gif");
}
.eight1 {
    background-image: url("images/eight1.gif");
}
.eight2 {
    background-image: url("images/eight2.gif");
}
.eight3 {
    background-image: url("images/eight3.gif");
}
.eight4 {
    background-image: url("images/eight4.gif");
}
.five1 {
    background-image: url("images/five1.gif");
}
.five2 {
    background-image: url("images/five2.webp");
}
.five3 {
    background-image: url("images/five3.gif");
}
.five4 {
    background-image: url("images/five4.gif");
}
.four1 {
    background-image: url("images/four1.gif");
}
.four2 {
    background-image: url("images/four2.gif");
}
.four3 {
    background-image: url("images/four3.gif");
}
.four4 {
    background-image: url("images/four4.gif");
}
.king1 {
    background-image: url("images/king1.gif");
}
.king2 {
    background-image: url("images/king2.gif");
}
.king3 {
    background-image: url("images/king3.gif");
}
.king4 {
    background-image: url("images/king4.gif");
}
.nine1 {
    background-image: url("images/nine1.gif");
}
.nine2 {
    background-image: url("images/nine2.gif");
}
.nine3 {
    background-image: url("images/nine3.gif");
}
.nine4 {
    background-image: url("images/nine4.gif");
}
.seven1 {
    background-image: url("images/seven1.gif");
}
.seven2 {
    background-image: url("images/seven2.gif");
}
.seven3 {
    background-image: url("images/seven3.gif");
}
.seven4 {
    background-image: url("images/seven4.gif");
}
.six1 {
    background-image: url("images/six1.gif");
}
.six2 {
    background-image: url("images/six2.gif");
}
.six3 {
    background-image: url("images/six3.gif");
}
.six4 {
    background-image: url("images/six4.gif");
}
.ten1 {
    background-image: url("images/ten1.gif");
}
.ten2 {
    background-image: url("images/ten2.gif");
}
.ten3 {
    background-image: url("images/ten3.gif");
}
.ten4 {
    background-image: url("images/ten4.gif");
}
.three1 {
    background-image: url("images/three1.gif");
}
.three2 {
    background-image: url("images/three2.gif");
}
.three3 {
    background-image: url("images/three3.gif");
}
.three4 {
    background-image: url("images/three4.gif");
}
.tuz1 {
    background-image: url("images/tuz1.jpg.webp");
}
.tuz2 {
    background-image: url("images/tuz2.gif");
}
.tuz3 {
    background-image: url("images/tuz3.gif");
}
.tuz4 {
    background-image: url("images/tuz4.gif");
}
.two1 {
    background-image: url("images/two1.gif");
}
.two2 {
    background-image: url("images/two2.gif");
}
.two3 {
    background-image: url("images/two3.gif");
}
.two4 {
    background-image: url("images/two4.gif");
}
.valet1 {
    background-image: url("images/valet1.gif");
}
.valet2 {
    background-image: url("images/valet2.gif");
}
.valet3 {
    background-image: url("images/valet3.gif");
}
.valet4 {
    background-image: url("images/valet4.gif");
}